[package]
name = "terms-of-use"
version = "0.1.0"
edition = "2024"

[workspace]
members = ["migration"]

[dependencies]
actix-web = { version = "4", optional = true }
sea-orm = { version = "~2.0.0-rc.20", features = [
    "macros",
    "with-chrono",
], optional = true, default-features = false }
chrono = { version = "0.4", features = ["serde"] }
serde = { version = "1", features = ["derive"], optional = true }
migration = { path = "migration", optional = true }
tokio = "1.48.0"
aws-config = { version = "1.8", optional = true, features = [
    "credentials-login",
] }
aws-credential-types = { version = "1.2", features = [
    "hardcoded-credentials",
], optional = true }
aws-sdk-s3 = { version = "1.116.0", optional = true }
uuid = { version = "1.19.0", optional = true, features = ["v4"] }
actix-multipart = { version = "0.7.2", optional = true }

[features]
postgres = ["dep:sea-orm", "sea-orm/sqlx-postgres", "dep:migration"]
actix-web = ["dep:actix-web", "dep:serde", "dep:actix-multipart"]
cache = []
s3 = ["dep:aws-config", "dep:aws-credential-types"]
aws-sdk-s3 = ["dep:aws-sdk-s3", "uuid"]
uuid = ["dep:uuid"]


[dev-dependencies]
serde_json = "1.0.145"
