services:
  db:
    image: postgres:latest
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: terms_of_use
    ports:
      - "5432:5432"
    volumes:
      - ../pgdata:/var/lib/postgresql